---
import IconX from "../../public/Icons/IconX.astro"
import IconWhatsApp from "../../public/Icons/IconWhatsApp.astro"
import IconFaceboock from "../../public/Icons/IconFaceboock.astro"
import IconInstagram from "../../public/Icons/IconInstagram.astro"


---

<header class="bg-image">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">
        <img
          src="images/logo.png"
          alt=""
          width="40"
          class="d-inline-block align-text-top"
        />
        SAL Y LUZ
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#"
              >Inicio</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="#"
              >Contacto</a
            >
          </li>
        </ul>
        <div class="d-flex social-icons">
          <a
            href="https://www.instagram.com/salyluzcorp"
            target="_blank"
            class="social-icon instagram"
          >
            <IconInstagram/>
          </a>
          <a
            href="https://www.facebook.com/people/Corporaci%C3%B3n-Sal-y-Luz/100069783105596/"
            target="_blank"
            class="social-icon facebook"
          >
            <IconFaceboock/>
          </a>
          <a
            href="https://wa.me/573215574456"
            target="_blank"
            class="social-icon whatsapp"
          >
           <IconWhatsApp />
          </a>
          <a
            href="https://x.com/"
            target="_blank"
            class="social-icon twitter"
          >
            <IconX/>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div
    id="header"
    class="container text-center d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="fw-bold mt-5">CORPORACIÓN SAL Y LUZ</h1>
    <p class="text-sm">Organización juvenil Cultural y Comunitaria</p>
    <!-- 
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/fondo.jpg" class="d-block img-custom" alt="imagen">
        </div>
        <div class="carousel-item">
            <img src="images/img2.jpg" class="d-block img-custom" alt="imagen 2">
        </div>
        <div class="carousel-item">
            <img src="images/img3.jpg" class="d-block img-custom" alt="imagen 3">
        </div>
    </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>-->
  </div>
</header>
<style>
  .navbar {
    background-color: #0044cc;
    color: aliceblue;
  }
  /* styles.css */
  .carousel-inner {
    width: 100%;
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
  }

  .carousel-item .img-custom {
    object-fit: cover;
    width: 100%;
    height: 400px; /* Asegúrate de que esta altura coincida con la altura máxima del contenedor */
  }

  /* iconos redes sociales nav */
  .social-icons {
    gap: 10px; /* Espacio entre los iconos */
  }

  .social-icon {
    color: #fff; /* Color blanco para los iconos */
    background-color: #000; /* Fondo negro para los iconos */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition:
      background-color 0.3s,
      transform 0.3s;
  }

  .social-icon:hover {
    transform: scale(
      1.1
    ); /* Aumenta ligeramente el tamaño al pasar el cursor */
  }

  .instagram {
    background-color: #e4405f;
  }
  .facebook {
    background-color: #1877f2;
  }
  .whatsapp {
    background-color: #25d366;
  }
  .twitter {
    background-color: black;
  }
</style>
